main {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 10% 0%;
}

main img {
  position: relative;
  width: 25%;
  height: 50%;
}

main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main div h1.erro {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
  width: 100%;
  font-family: "DotGothic16", sans-serif;
  color: #561efc;
}

main div p {
  font-family: "Inconsolata", monospace;
  color: #561efc;
  width: inherit;
  font-size: 20px;
}

@media (max-width: 1024px) and (min-width: 415px) {
  main {
    top: 20%;
  }
}

@media (max-width: 414px) {
  main {
    top: 30% !important;
  }
  div h1.erro {
    font-size: 30px !important;
  }
  div p {
    font-size: 10px !important;
  }
}

@media (max-height: 414px) {
  main {
    top: 10% !important;
  }
  div h1.erro {
    font-size: 20px !important;
  }
  div p {
    font-size: 10px !important;
  }
}

@media braille and (min-height: 415px) and (max-height: 1024px) {
  main {
    top: 20% !important;
  }
  div h1.erro {
    font-size: 30px !important;
  }
  div p {
    font-size: 10px !important;
  }
}
