main {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 10% 0%;

	img {
		position: relative;
		width: 25%;
		height: 50%;
	}

	div {
		display: flex;
		flex-direction: column;

		h1.erro {
			position: relative;
			justify-content: center;
			font-size: 60px;
			width: 100%;
			font-family: "DotGothic16", sans-serif;
			color: #561efc;
		}

		p {
			font-family: "Inconsolata", monospace;
			color: #561efc;
			width: inherit;
			font-size: 20px;
		}
	}
}

@media (max-width: 1024px) and (min-width: 415px) {
	main {
		top: 20%;
	}
}

@media (max-width: 414px) {
	main {
		top: 30% !important;
	}
	div {
		h1.erro {
			font-size: 30px !important;
		}
		p {
			font-size: 10px !important;
		}
	}
}

@media (max-height: 414px) {
	main {
		top: 10% !important;
	}
	div {
		h1.erro {
			font-size: 20px !important;
		}
		p {
			font-size: 10px !important;
		}
	}
}

@media braille and (min-height: 415px) and (max-height: 1024px) {
	main {
		top: 20% !important;
	}
	div {
		h1.erro {
			font-size: 30px !important;
		}
		p {
			font-size: 10px !important;
		}
	}
}