body {
  background-color: #f5f5f5;
  margin: 0 0 0 0;
  height: auto;
  width: auto;
}

header nav ul li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

header nav ul {
  text-align: right;
  padding: 0px 2% 0px 0;
  display: block;
  text-align: right;
}

header nav li a img {
  height: 50px;
  width: 100px;
  padding-right: 35vw;
  padding-left: 40px;
}

header > nav > ul > li > a {
  text-decoration: none;
  font-style: normal;
  font-family: muli, sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: black;
  transition: 00.3s;
}

header > nav > ul > li a.botao {
  text-decoration: none;
  font-style: normal;
  font-family: muli, sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: black;
  transition: 00.3s;
  border-radius: 100px;
  padding: 7px 20px;
  border: 1px solid #dee2e6;
}

header > nav > ul > li > a:hover {
  color: rgba(0, 0, 0, 0.61);
}

header nav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

section nav {
  margin: 80px 0 0 0;
  background-color: #4f3ab7;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  height: auto;
  width: auto;
  padding-top: 1px;
  padding-bottom: 3px;
  line-height: 15px;
  display: block;
  margin-bottom: 40px;
}

section nav a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-family: muli, sans-serif;
  font-weight: 500;
  text-align: left;
  transition: 0.3s;

  /* margin-left: 10%; */
}

section nav a:hover {
  color: #f5f5f5b0;
}

section > nav > ul > li {
  display: inline;
  font-family: Muli;
  list-style: none;
  margin-right: 25px;
}

section > nav > ul {
  padding-left: 10%;
}

.icone {
  padding-left: 20%;
  color: white;
  transition: none;
}

.icone:hover {
  padding-left: 20%;
  color: white;
  transition: none;
}

post {
  margin: 0px 149.5px;
}

.capa-post {
  height: 802px;
  width: 450px;
}

div.texto-post {
  padding: 50px 50px 100px 50px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 4px 9px 0 rgba(67, 65, 79, 0.1);
  margin: -325px 31.5% 0px 230px;
  font-family: muli, sans-serif;
}

.container-post aside{
    display: inline-block;
    margin-left: 12%;
}

h1 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  margin-bottom: 24px;
}

p {
  font-size: 18px;
  line-height: 33px;
  font-weight: normal;
  margin-bottom: 24px;
  color: rgba(0, 0, 0, 0.87);
}

main a {
  text-decoration: none;
  color: #6610f2;
  transition: 0ms;
}

main a:hover {
  color: #6f42c1;
  text-decoration: underline;
}

main img {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
}

p.titulo-tabela {
  text-align: center;
}

.lista-artigos {
  list-style: none;
  line-height: 33px;
  font-size: 18px;
  font-weight: 500;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

div.cabeçalho-post {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.programacao-tutorial {
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
}

div.cabeçalho-post div {
  display: flex;
  align-items: center;
  margin-left: 25px;
  line-height: 24px;
  color: #6c757d;
  font-size: 16px;
}
section.autor {
  background-color: #ffffff;
  padding: 30px 30px 0px 30px;
  border-radius: 3px;
  box-shadow: 0 4px 9px 0 rgba(67, 65, 79, 0.1);
  margin: 40px 31.5% 0px 230px;
  font-family: muli, sans-serif
}

.informacoes-autor {
  display: inline-block;
  /* flex-wrap: wrap; */
  width: 520px;
}

.divisor {
  display: inline;
}

.divisor img {
    margin: 0 20px 16% 0;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 50%;
}

#informações-autor p{
    font-size: 16px;
    line-height: 24px;
}

#informações-autor > p{
    margin: 0px 0px 5px 0px;
}

.menu-vertical{
    width: 20px;
    margin-top: 25px;
}

.menu-vertical i{
    font-size: 30px;
    height: 58px;
    color: #44414F;
    transition: 0.05s;
}

.menu-vertical a:hover i{
color: #6747C7;
}